main {
    height: 300px;
    width: 1000px;
    padding: 10px;
    margin: auto 10px auto 10px;
    font-style: normal;
    font-family:  Geneva;

    
}
h1 {
    margin: 30 10px 20 10px;
    color: rgb(15, 57, 62);
    text-align: center;
    font-family: cochin;
    font-size: 50px;
}
h2 {
    text-align: center;
    color: rgb(19, 99, 87);
    font-family: Menlo;
    font-size: 25px;
    margin: 90px 10px 30px 10px

}

img {
    max-width: 600px;
    max-height: 400px;
    position: relative;
    padding-block-end: 40px;
    display: block;
    margin: 30px 500px 20px 200px;
    
}

p {
    width: 500px;
    margin: 20px auto 50px auto;
    text-align: center;
}

a{
    padding: 20px 20px 20px 300px;
    margin:30px auto 30px auto;
    text-align: center;
}

body {
    background-color: rgb(228, 180, 90);
}





    