
main {
    height: 300px;
    width: 1000px;
    padding: 10px;
    margin: auto 10px auto 10px;
    font-style: normal;
    font-family:  Geneva;
    text-align: center;
    
}
h1 {
    margin: auto 10px auto 10px;
    color: rgb(37, 82, 85);
    text-align: center;
    font-family: cochin;

}

img {
max-width: 600px;
max-height: 5000px;
}






    